<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DAL.Properties.Settings.WSConnectionString" connectionString="Data Source=AZSTESCRMDBT;Initial Catalog=STADA_PEDIDOS_RECEPCION;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.CE2ConnectionString" connectionString="Data Source=AZSTESCRMDBT;Initial Catalog=GESTCRMCE;Integrated Security=True" />
    <add name="DAL.Properties.Settings.CEConnectionString" connectionString="Data Source=AZSTESCRMDBT;Initial Catalog=GESTCRMCE;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.STADA_PEDIDOS_RECEPCIONConnectionString"
      connectionString="Data Source=AZSTESCRMDBT;Initial Catalog=STADA_PEDIDOS_RECEPCION;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
