<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="TargetFolder" value="E:\Farmatic\Transfer\" />
		<add key="TargetFolderDIR" value="E:\Farmatic\Directo\"/>
		<add key="TargetFolderNOK" value="E:\Farmatic\Error\" />
		<add key="IncidenciasFolder" value="E:\Farmatic\Log\" />
		<add key="IniFolder" value="C:\Envio Pedidos Mayorista WINSOCK\WSWinSockPedidos.ini" />

		<add key="TargetFolderBackup" value="E:\Farmatic\Backup\"/>
		<add key="TargetXMLFolder" value="\\Gestcrm2016\StadaAlemania\IN\PEDIDO\"/>
		<add key="TargetXMLFolderDIR" value="\\Gestcrm2016\StadaAlemania\IN\PEDIDO\"/>
		<add key="TargetXMLFolderNOK" value="E:\Farmatic\XMLNOK\"/>


		<add key="WSConnectionString" value="packet size=4096;user id=sa;password=Bayvit1429;data source=SQLCRM2012;persist security info=False;initial catalog=STADA_PEDIDOS_RECEPCION" />
		<add key="CEConnectionString" value="packet size=4096;user id=sa;password=Bayvit1429;data source=SQLCRM2012;persist security info=False;initial catalog=GESTCRMCE" />
		<add key="PRECIOSConnectionString" value="packet size=4096;user id=sa;password=Bayvit1429;data source=SQLCRM2012;persist security info=False;initial catalog=PRECIOS_STADA" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />



	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>